.main {
  grid-column: 2 / 3;
  padding: 12px;
  background-color: #e9e9e9;
  box-shadow: 0 0 10px -2px #555;
  gap: 12px;
  position: relative;
  color: #0c233c;
}

.section {
  display: flex;
  flex-direction: column;
}

.languageSwitch {
  position: absolute;
  top: 0;
  right: 12px;
}

.languageBtn {
  background: none;
  border: 0;
}

.about,
.work,
.education,
.certificates {
  display: flex;
  flex-direction: column;
  margin: 12px 0;
  gap: 12px;
}

.about {
  justify-content: end;
  min-height: 204px;
  padding: 12px;
}

.name {
  font-size: 48px;
  font-weight: bold;
}

.aboutSpecialty {
  font-size: 20px;
  font-style: oblique;
  font-weight: bold;
}

.aboutDescription {
  font-size: 16px;
}

.card {
  background: #d9d9d9;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 12px;
}
.cardTitle {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
.cardTime {
  font-size: 12px;
  opacity: 0.7;
  right: 0;
  font-weight: 400;
}

.cardLink {
  text-decoration: none;
  color: black;
}

.cardCompany {
  font-size: 16px;
  font-style: oblique;
  opacity: 0.7;
  font-weight: bold;
  text-decoration: none;
}

.cardDescription {
  text-align: justify;
}

.certificates {
  padding-left: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  overflow: auto;
}

.certificate {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
}

.certificateImage {
  max-width: 50px;
  align-self: self-start;
}

.certificateDescription {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.certificateText {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.certificateOrganization {
  font-size: 14px;
}

.certificateDate {
  font-size: 14px;
  opacity: 0.5;
}

.certificateLink {
  padding: 4px 8px;
  border: 1px solid #636363;
  border-radius: 24px;
  display: flex;
  align-items: center;
  align-self: start;
  gap: 8px;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
  background-color: none;
  color: black;
}

.certificateLink:hover {
  background-color: #d0d0d0;
  fill: #181290;
  color: #181290;
  transition: background-color 0.2s ease-in-out;
}
