@font-face {
  font-family: 'Ubuntu';
  src: url('./assets/fonts/Ubuntu-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('./assets/fonts/Ubuntu-Light.ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('./assets/fonts/Ubuntu-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('./assets/fonts/Ubuntu-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('./assets/fonts/Ubuntu-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

.wrapper {
  margin: auto;
  max-width: 960px;
  display: grid;
  grid-template-columns: 30% 70%;
  font-family: 'Ubuntu', sans-serif;
  overflow: hidden;
  box-shadow: 0 0 10px -2px black;
}
